:root {
    --primary-color: #FCFCFC;
    --border-color: #DEDEDE;
    --btn-txt-color: #3D8AFF;
    --gray-color: #F1F1F1;
    --red-color: #ED4956;
    --white-color: #FFFFFF;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    height: 100vh;
    color: #000000;
    background-color: #FFFFFF;
}

main {
    height: 100%;
}

.sectionCard {
    display: flex;
    height: 100%;
    padding: 0 1rem;
}

/* Card Styles */

.containerCard {
    width: 100%;
    min-width: 320px;
    max-width: 527px;
    margin: auto;
    border-radius: 5px;
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    box-shadow: -1px 7px 8px -5px rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
}


/* Header */

.containerCard .headerCard {
    display: flex;
    align-items: center;
    padding: .7rem 1.4rem;
}

.containerCard .headerCard img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.3rem;
}

.containerCard .headerCard .userInfo span {
    display: block;
    text-transform: capitalize;
}

.containerCard .headerCard .userInfo span.name {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: .5rem;
}

.containerCard .headerCard .userInfo span.location {
    font-size: 10px;
    font-weight: 400;
}


/* Img Section */

.containerCard .imgCard {
    width: 100%;
    height: 300px;
}

.containerCard .imgCard img {
    width: 100%;
}

/* Body Section */

.containerCard .bodyCard {
    padding: .7rem 1.4rem 1.2rem 1.4rem;
}


/* Actions Card */

.containerCard .bodyCard .actionsCard {
    display: flex;
}

.containerCard .bodyCard .actionsCard .icon {
    width: 24px;
    margin-right: .8rem;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.containerCard .bodyCard .actionsCard .icon.like {
    cursor: pointer;
    stroke: #000000;
}

.containerCard .bodyCard .actionsCard .icon.active.like {
    animation: bounceIconAnimation ease .3s;
    fill: var(--red-color);
    stroke: var(--red-color);
}

@keyframes bounceIconAnimation {
    0% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


/* Comments */

.containerCard .bodyCard .commentsCard {
    margin-top: 1.6rem;
    height: 160px;
    overflow-y: scroll;
    padding-bottom: .5rem;
    box-sizing: border-box;
}

.containerCard .bodyCard .commentsCard::-webkit-scrollbar {
    width: 4px;
}

.containerCard .bodyCard .commentsCard::-webkit-scrollbar-thumb {
    background-color: var(--gray-color);
    border-radius: 5px;
}

.containerCard .bodyCard .commentsCard .comment {
    font-size: 12px;
    text-align: left;
    margin-bottom: 1.2rem;
    font-weight: 400;
}

.containerCard .bodyCard .commentsCard .comment p {
    margin-bottom: 0;
}

.containerCard .bodyCard .commentsCard .comment:last-child {
    margin-bottom: 0;
}

.containerCard .bodyCard .commentsCard .comment .userName {
    text-transform: capitalize;
    font-weight: 700;
}


/* Comment Post */

.containerCard .bodyCard .commentPost {
    margin-top: .5rem;
    background-color: var(--gray-color);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.containerCard .bodyCard .commentPost input {
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 12px;
}

.containerCard .bodyCard .commentPost input:focus {
    outline: none;
}

.containerCard .bodyCard .commentPost button {
    color: var(--btn-txt-color);
    background-color: transparent;
    border: none;
    font-weight: 700;
    cursor: pointer;
}